body {
    background-color: #f8f9fa;
}

.chat-list-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat-list-title {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chat-item:hover {
    background-color: #e9ecef;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-info {
    flex-grow: 1;
}

.chat-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #212529;
}

.chat-message {
    color: #6c757d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-time {
    font-size: 0.8rem;
    color: #6c757d;
    margin-left: auto;
}

.no-chats-message {
    text-align: center;
    color: #6c757d;
}

.support{
    margin-top: 25px;
}

.chat-icon {
    margin-left: 10px;
    color: #007bff;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styles for the Support Chat Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chat-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Ensure it's tall enough to start */
}

ul{
    list-style: none;
}