* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/static/img/dry-planet_3840x1920_xtrafondos.com.jpg");
    background-size: cover;
}

header nav a{
    font-size: 17px;
    font-weight: bold;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}


.glass-container{
    width: 450px;
    /*height: 550px;*/
    max-height: 1000px;
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}

.glass-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}


.card-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background: rgba(0,0,0,0.3);;
    color: #b7c583;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.card-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #b7c583;
}

.card-type {
    font-size: 1em;
    color: #b7c583;
}

ul{
    padding-left: 0;
    margin-top: 40px;
}

li{
    list-style-type: none;
}

.cardsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background: rgba(0,0,0,0.3);;
    color: #b7c583;
    margin-top: 10px;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.card-info h3 {
    color: #fff;
    margin-top: 0;
}

.card-info p {
    margin-bottom: 5px;
    color: #b7c583;
}



/* Стили для кнопки "Перевести" */
.transfer-button {
    background-color: #4CAF50; /* Зеленый цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавно меняем цвет при наведении */
}

.transfer-button:hover {
    background-color: #3e8e41; /* Темнее при наведении */
}

span{
    color: #ffffff;
}


/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Прозрачный черный фон */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 26%;
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Тень */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для заголовка модального окна */
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для формы в модальном окне */
#transferForm label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#transferForm input[type="text"],
#transferForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#transferForm button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.buttons{
    display: block;
    justify-self: center;
    margin-top: 50px;
}

.changeActiveButton, .cancelChangeActive {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.changeActiveButton{
    margin-right: 50px;
}

#transferForm button[type="submit"]:hover {
    background-color: #3e8e41;
}


.about-active{
    color: #4CAF50;
    margin-left: 30px;
}


.zakaz-form{
    position: absolute;
    opacity: 0;
    transform: translateX(-250%);
    transition: all .5s;
    left: calc(50% - 225px);
}

.cons-form{

    opacity: 0;
    left: calc(50% - 225px);
    transform: translateX(250%);
    transition: all .5s;
}

.start-anim{
    opacity: 1;

    transform: translateX(0);
}


.glass-info{
    width: 300px;
    height: 200px;
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}

.glass-info::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}