body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.card-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.card-container:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.card-type {
    font-size: 1em;
    color: #777;
}

ul{
    padding-left: 0;
}

li{
    list-style-type: none;
}

.cardsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-info {
    display: none; /* Скрываем информацию по умолчанию */
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card-info h3 {
    color: #333;
    margin-top: 0;
}

.card-info p {
    margin-bottom: 5px;
    color: #555;
}



/* Стили для кнопки "Перевести" */
.transfer-button {
    background-color: #4CAF50; /* Зеленый цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавно меняем цвет при наведении */
}

.transfer-button:hover {
    background-color: #3e8e41; /* Темнее при наведении */
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Прозрачный черный фон */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 26%;
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Тень */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для заголовка модального окна */
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для формы в модальном окне */
#transferForm label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#transferForm input[type="text"],
#transferForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#transferForm button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.buttons{
    display: block;
    justify-self: center;
    margin-top: 50px;
}

.changeActiveButton, .cancelChangeActive {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.changeActiveButton{
    margin-right: 50px;
}

#transferForm button[type="submit"]:hover {
    background-color: #3e8e41;
}


.about-active{
    color: #4CAF50;
    margin-left: 30px;
}
