<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="0;URL=http://localhost:8080/myCards"/>
    <title>Document</title>
</head>
<body>
    <form th:action="@{/changeActive.html}" th:method="POST">
        <input type="hidden" name="" id="">
    </form>
</body>
</html>