<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="/static/css/chat.css" />
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
<div th:replace="~{fragment/header.html :: header}"></div>
<div class="container">
    <div class="chat-list-container">
        <h2 class="chat-list-title">Ваши чаты</h2>

        <ul class="chat-list">
            <li class="chat-item" th:each="chat : ${chats}" onclick="openChatDialog('${chat.getId()}', '${chat.getName()}', '${chat.getLastMessage()}')">
                <img src="https://pikuco.ru/upload/test_stable/522/52297aef53d78bf473ab13748b3fe293.webp" alt="Аватар" class="chat-avatar">
                <div class="chat-info">
                    <div class="chat-name" th:text="${chat.getName()}"></div>
                    <div class="chat-message" th:text="asdsadsa"></div>
                </div>
                <div id="chatModal" class="modal">
                    <div class="modal-content w-50">
                        <span class="close" onclick="closeChatDialog()">&times;</span>
                        <h2 id="chatModalTitle"></h2>
                        <ul id="chatMessages">
                            <li th:each="message : ${chat.getMessages()}">
                                <div th:value="${message.getMessage()}"></div>
                            </li>
                        </ul>
                        <form id="chatForm" name="chatForm">
                            <input type="hidden" name="chatid" id="chatid" th:value="${chat.getId()}">
                            <input type="text" id="chatInput" placeholder="Введите сообщение..." required>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
                <span class="chat-time" th:text="${chat.getUpdated()}"></span>
                <i class="fas fa-comment chat-icon"></i>
            </li>
        </ul>

        <div class="no-chats-message" th:if="${chats.isEmpty()}">
            У вас пока нет чатов.<br>
            <button type="button" class="btn btn-primary support" onclick="openSupportChat()">Написать в поддержку</button>
        </div>

    </div>
</div>

<!-- Модальное окно для поддержки -->
<div id="supportModal" class="modal">
    <div class="modal-content w-50">
        <span class="close" onclick="closeSupportChat()">&times;</span>
        <h2>Чат с поддержкой</h2>
        <form id="messageForm">
            <input type="text" name="chat" id="chat_id" th:value="chat.get">
            <input type="hidden" id="name" placeholder="Username" class="form-control" th:value="${curr.getFirstname()}"/>
            <textarea class="chat-textarea" id="message" placeholder="Введите ваше сообщение..."></textarea>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

<!-- Модальное окно для чата -->





<!--<div class="container">-->
<!--    <div class="chat-list-container">-->
<!--        <h2 class="chat-list-title">Ваши чаты</h2>-->

<!--        <ul class="chat-list">-->
<!--            <li class="chat-item" th:each="chat : ${chats}"> &lt;!&ndash; Iterate over the 'chats' list &ndash;&gt;-->
<!--                <img src="https://pikuco.ru/upload/test_stable/522/52297aef53d78bf473ab13748b3fe293.webp" alt="Аватар" class="chat-avatar">-->
<!--                <div class="chat-info">-->
<!--                    <div class="chat-name" th:text="${chat.getName()}"></div> &lt;!&ndash; Display chat name &ndash;&gt;-->
<!--                    <div class="chat-message" th:text="dffsd"></div> &lt;!&ndash; Display last message &ndash;&gt;-->
<!--                </div>-->
<!--                <span class="chat-time" th:text="123123"></span> &lt;!&ndash; Display chat time &ndash;&gt;-->
<!--                <i class="fas fa-comment chat-icon"></i>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <div class="no-chats-message" th:if="${chats.isEmpty()}"><Button type="submit" class="btn-primary support">Написать в поддержку</Button></div> &lt;!&ndash; Display message if no chats &ndash;&gt;-->

<!--    </div>-->
<!--</div>-->



<!--<div id="username-page">-->
<!--    <div class="username-page-container">-->
<!--        <form id="usernameForm" name="usernameForm">-->
<!--            <div class="form-group hidden">-->
<!--                <input type="text" id="name" placeholder="Username" class="form-control" th:value="${curr.getEmail()}"}/>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <button type="submit" class="accent username-submit">Start Chatting</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--<div id="chat-page" class="hidden">-->
<!--    <div class="chat-container">-->
<!--        <div class="chat-header">-->
<!--            <h2>Spring WebSocket Chat Demo - By Alibou</h2>-->
<!--        </div>-->
<!--        <div class="connecting">-->
<!--            Connecting...-->
<!--        </div>-->
<!--        <ul id="messageArea">-->

<!--        </ul>-->
<!--        <form id="messageForm" name="messageForm">-->
<!--            <div class="form-group">-->
<!--                <div class="input-group clearfix">-->
<!--                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>-->
<!--                    <button type="submit" class="primary">Send</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
<script>
    // Получить элементы модальных окон
    var supportModal = document.getElementById("supportModal");
    var chatModal = document.getElementById("chatModal");

    // Открыть чат при нажатии на элемент
    function openChatDialog(chatId, chatName, lastMessage) {
        // Здесь можно загрузить историю сообщений из чата по chatId
        // Например, с помощью AJAX запроса
        // Затем вы можете добавить их в chatMessages
        // Пример:
        chatModal.style.display = "block";
    }

    // Закрыть чат
    function closeChatDialog() {
        chatModal.style.display = "none";
    }

    // Открыть поддержку
    function openSupportChat() {
        supportModal.style.display = "block";
    }

    // Закрыть поддержку
    function closeSupportChat() {
        supportModal.style.display = "none";
    }

    // Закрыть модал при клике вне его
    window.onclick = function(event) {
        if (event.target == supportModal) {
            closeSupportChat();
        } else if (event.target == chatModal) {
            closeChatDialog();
        }
    };
</script>
</body>
</html>