<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/static/css/styleLogin.css">
    <link rel="stylesheet" href="/static/css/headerStyle.css">
    <meta th:if="${curr != null}" http-equiv="refresh" content="0;URL=http://localhost:8080/profile">
    <title>Document</title>
</head>
    <body>
        <div th:replace="~{fragment/header.html :: header}"></div>

        <div class="glass-container">
            <div class="login-box">
                <h2>Login</h2>

                <form th:action="@{/login}" th:method="POST" th:object="${user}">-->
                    <input type="text" id="username" name="username" required placeholder="Username">

                    <input type="password" id="password" name="password" required placeholder="Password">

                    <div class="options">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember me</label>
                    </div>

                    <button type="submit">Login</button>

                    <p>Нет аккаунта?</p> <a href="/registration">Зарегистрироваться</a>
                </form>
            </div>
        </div>


<!--            <div class="container">-->

<!--                <form th:action="@{/login}" th:method="POST" th:object="${user}">-->
<!--                    <div class="is-invalid" style="color: red" th:if="${param.error}">Invalid Username/Password</div>-->
<!--                    <label for="username">Имя пользователя:</label>-->
<!--                    <input type="text" id="username" name="username" placeholder="Имя пользователя/Псевдоним"/><br /><br />-->

<!--                    <label for="password">Пароль:</label>-->
<!--                    <input type="password" id="password" name="password" placeholder="Пароль"/><br /><br />-->

<!--                    <input type="submit" value="Вход" />-->
<!--                    <div class="registration-link-desc">Нет аккаунта? -> <a class="registration-link" href="/registration">Зарегистрироваться</a></div>-->
<!--                </form>-->
<!--            </div>-->
    </body>
</html>